<form method="post" action="/theme/create">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter new theme name...">
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">  
</form>